*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:sans-serif;
    background:#f5f5f5;
}

.container{
    width:min(90%,800px);
    margin:40px auto;

    display:flex;
    flex-direction:column;
    gap:20px;
}

h1{
    font-size:3rem;
    text-align:center;
}

p{
    text-align:center;
}

.buttons{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.btn,
.menu-btn{
    display:block;

    text-decoration:none;

    background:#2563eb;
    color:white;

    padding:20px;

    border-radius:12px;

    text-align:center;

    font-size:1.2rem;
    font-weight:bold;

    margin-bottom:20px;
}

.disabled{
    background:#9ca3af;
}

input,
select{
    width:100%;

    padding:20px;

    font-size:1.2rem;

    border:1px solid #ccc;
    border-radius:12px;
}

button{
    width:100%;

    padding:20px;

    font-size:1.2rem;
    font-weight:bold;

    border:none;
    border-radius:12px;

    background:#2563eb;
    color:white;

    cursor:pointer;
}

.quiz-card{
    background:white;

    padding:20px;

    border-radius:12px;

    box-shadow:0 2px 8px rgba(0,0,0,.1);
}
.big-score{

    font-size:6rem;

    font-weight:bold;

    text-align:center;

    margin:40px 0;
}

.boom{

    animation:boom .5s;
}

@keyframes boom{

    0%{
        transform:scale(1);
    }

    50%{
        transform:scale(1.5);
    }

    100%{
        transform:scale(1);
    }
}

.confetti{

    position:fixed;

    top:-20px;

    width:12px;
    height:12px;

    background:red;

    animation:
        fall 3s linear forwards;
}

@keyframes fall{

    from{
        transform:translateY(0);
    }

    to{
        transform:translateY(110vh);
    }
}
